body {
  margin: 0;
}

figure {
  margin: 0;
}

figure#mouse-pointer {
  border-radius: 50%;
  padding: 5px;
  background-size:  cover;
  width: 50px;
  height: 50px;
  position: absolute;
  display: none;
  float: left;
  /* Adapted from: http://creative-punch.net/2014/01/custom-cursors-css-jquery/ */
}

figure#piece {
  border-radius: 50%;
  padding: 5px;
  background-size:  cover;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 6px;
}


header {
  height: 75px;
  width: 100%;
  animation: rwb 10s linear infinite;
  margin-bottom: 20px;
}

@keyframes rwb {
  0% {
    background-color: #d84545;
  } 25% {
    background-color: #f4f4f4;
  } 50% {
      background-color: #295fbc;
  } 75% {
      background-color: #f4f4f4;
  } 100% {
      background-color: #d84545;
  }
}

#container {
  height: 604px;
}

#board {
  height: 584px;
  width: 630px;
  margin: 0 auto;
  padding: 10px;
  background-image: url('images/America-11bg.jpg');
  opacity: 0.9;
  background-size: cover;
}

.sidebar {
  display: inline-block;
  margin: 0;
}

#trump-sidebar {
  float: left;
  width: 20%;
  margin-top: 200px;
}

#hillary-sidebar {
  float: right;
  width: 15%;
  margin-top: 184px;
  margin-right: 15px;
}

.picker {
  display: inline-block;
  margin: 0 5px;
  height: 80px;
  width: 80px;
  cursor: none;
  background-color: rgba(255,255,0,0.4);
  border-radius: 10%;
}

.picker:hover {
  animation: select 1s linear infinite;
}

@keyframes select {
  0% {
    box-shadow: 0 0 10px rgba(255,255,0,0.4);
  } 50% {
    box-shadow: 0 0 20px 5px rgba(255,255,0,0.6);
  } 100% {
    box-shadow: 0 0 10px rgba(255,255,0,0.4);
  }
}

.block {
  display: inline-block;
  margin: 0 5px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.6);
}
